@font-face {

    font-family: "Open Sans";
  
    src: url("./fonts/Alkatra/static/Alkatra-Medium.ttf") ;
  
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color:#cc66ff    ;
    width: 1349px;
    height: 617px;
    padding-top: 70px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    
}
.pen{
    
    width: 400px;
    height: 500px;
    content: url('./image/5a3648ecd25b00.3228268115135070528616.png');
}
.bloknot{
   display: flex;
   flex-direction: row;
   border: 10px solid black;
   border-radius: 15px;
   width: 700px;
   height: 500px;
   background-color: beige;
}
.box-left, .box-ridth {
    border: 5px solid black;
    width: 340px;
    height: 480px;   
    padding: 25px;
}

.spuk{
    color: crimson;
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}
.joi{
    border: 1px solid beige;
    height: 30px;
    margin: 3px;
    border-radius: 3px;
    width: 250px;
}
.joi:focus{
    border: 1px solid beige;
}
hr{
    border: 1px solid black;
    width: 95%;
}
.errorWindow {
    width: 380px;
    height: 70px;
    padding: 5px 15px;
    color: rgb(148, 80, 114);
    background-color: rgb(211, 156, 161);
    box-shadow: 2px 2px 4px 5px rgb(116, 77, 72);
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 750px;
    opacity: 0.97;
    display: none;
  }
  .error {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    border: none;
    color: rgb(148, 80, 114);
    background-color: rgb(211, 156, 161);
  }
  .add{
    margin-top: 5px;
    margin-left: 80px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background:linear-gradient(90deg, rgba(131,58,180,1) 0%,         rgba(253,29,29,1) 50%, rgb(177, 152, 218) 100%);;
  }